<% provide(:title, "Gallery") %>
<div class="container">
  <section id="work">
    <h1>Designs </h1>
    <h3>flower</h3>
    <!--<div class="work_categories">
      <button class="category_btn">All<span class="category_count">8</span></button>
      <button class="category_btn">Front end <span class="category_count">3</span></button>
      <button class="category_btn">Back END<span class="category_count">3</span></button>
      <button class="category_btn">Mobile<span class="category_count">2</span></button>
    </div> -->
    <div class="work_projocts">
      <!--<a href="https://github.com/deram-ellie/Jisoo's-site" class="projects" target="blank">-->
      <%= image_tag 'tkimg/f_1.jpg' %>
      <div class="projocts_discription">
        <h3>Jisoo's Site</h3>
        <span>Tokyo Textile</span>
      </div>
    </div>
    <div class="_projocts">
      <!--<a href="https://github.com/deram-ellie/Jisoo's-site" class="projects" target="blank">-->
      <%= image_tag 'tkimg/f_2.jpg' %>
      <div class="projocts_discription">
        <h3>Jisoo's Site</h3>
        <span>Tokyo Textile</span>
      </div>
    </div>
    <div class="work_projocts">
      <!--<a href="https://github.com/deram-ellie/Jisoo's-site" class="projects" target="blank">-->
      <%= image_tag 'tkimg/f_4.jpg' %>
      <div class="projocts_discription">
        <h3>Jisoo's Site</h3>
        <span>Tokyo Textile</span>
      </div>
    </div>
    <div class="work_projocts">
      <!--<a href="https://github.com/deram-ellie/Jisoo's-site" class="projects" target="blank">-->
      <%= image_tag 'tkimg/p_1.jpg' %>
      <div class="projocts_discription">
        <h3>Jisoo's Site</h3>
        <span>Tokyo Textile</span>
      </div>
    </div>
    <div class="work_projocts">
      <!--<a href="https://github.com/deram-ellie/Jisoo's-site" class="projects" target="blank">-->
      <%= image_tag 'tkimg/p_2_black.jpg' %>
      <div class="projocts_discription">
        <h3>Jisoo's Site</h3>
        <span>Tokyo Textile</span>
      </div>
    </div>
    <div class="work_projocts">
      <!--<a href="https://github.com/deram-ellie/Jisoo's-site" class="projects" target="blank">-->
      <%= image_tag 'tkimg/p_3.jpg' %>
      <div class="projocts_discription">
        <h3>Jisoo's Site</h3>
        <span>Tokyo Textile</span>
      </div>
    </div>
  </section>
</div>
