<% provide(:title, "Gallery") %>
<div class="container">
  <section id="work">
    <h1>Designs </h1>
    <!-- <h3>flower</h3> -->
    <!-- <div class="work_categories">
      <button class="category_btn active">All<span class="category_count">8</span></button>
      <button class="category_btn">Front end <span class="category_count">3</span></button>
      <button class="category_btn">Back END<span class="category_count">3</span></button>
      <button class="category_btn">Mobile<span class="category_count">2</span></button>
    </div>-->
    <% if logged_in? %>
      <div class="work_1">
        <div class="work_projocts">
          <%= image_tag 'tkimg/f_1.jpg' %>
          <%= link_to "details", designs_detail_path,target: :_blank %>
          <div class="text">TOKKI-DESIGN</div>
          <div class="projocts_discription">
            <h3>Jisoo's Site</h3>
            <span>Tokyo Textile</span>
          </div>
        </div>
        <div class="work_projocts">
          <%= image_tag 'tkimg/f_2.jpg' %>
          <div class="text">TOKKI-DESIGN</div>
          <div class="projocts_discription">
            <h3>Jisoo's Site</h3>
            <span>Tokyo Textile</span>
          </div>
        </div>
        <div class="work_projocts">
          <%= image_tag 'tkimg/f_4.jpg' %>
          <div class="text">TOKKI-DESIGN</div>
          <div class="projocts_discription">
            <h3>Jisoo's Site</h3>
            <span>Tokyo Textile</span>
          </div>
        </div>
      </div>
      <div class="work_1">
        <div class="work_projocts">
          <%= image_tag 'tkimg/p_1.jpg' %>
          <div class="text">TOKKI-DESIGN</div>
          <div class="projocts_discription">
            <h3>Jisoo's Site</h3>
            <span>Tokyo Textile</span>
          </div>
        </div>
        <div class="work_projocts">
          <%= image_tag 'tkimg/p_2_black.jpg' %>
          <div class="text">TOKKI-DESIGN</div>
          <div class="projocts_discription">
            <h3>Jisoo's Site</h3>
            <span>Tokyo Textile</span>
          </div>
        </div>
        <div class="work_projocts">
          <%= image_tag 'tkimg/p_3.jpg' %>
          <div class="text">TOKKI-DESIGN</div>
          <div class="projocts_discription">
            <h3>Jisoo's Site</h3>
            <span>Tokyo Textile</span>
          </div>
        </div>
        <!--------------------------------------------------->
      <% else %>
        <h3>If you register as a member, you can see these more big.</h3>
        <div class="work_1">
          <div class="work_projocts">
            <%= image_tag 'tkimg/f_1.jpg' %>
            <div class="text">TOKKI-DESIGN</div>
            <div class="projocts_discription">
              <h3>Jisoo's Site</h3>
              <span>Tokyo Textile</span>
            </div>
          </div>
          <div class="work_projocts">
            <%= image_tag 'tkimg/f_2.jpg' %>
            <div class="text">TOKKI-DESIGN</div>
            <div class="projocts_discription">
              <h3>Jisoo's Site</h3>
              <span>Tokyo Textile</span>
            </div>
          </div>
          <div class="work_projocts">
            <%= image_tag 'tkimg/f_4.jpg' %>
            <div class="text">TOKKI-DESIGN</div>
            <div class="projocts_discription">
              <h3>Jisoo's Site</h3>
              <span>Tokyo Textile</span>
            </div>
          </div>
        </div>
        <div class="work_1">
          <div class="work_projocts">
            <%= image_tag 'tkimg/p_1.jpg' %>
            <div class="text">TOKKI-DESIGN</div>
            <div class="projocts_discription">
              <h3>Jisoo's Site</h3>
              <span>Tokyo Textile</span>
            </div>
          </div>
          <div class="work_projocts">
            <%= image_tag 'tkimg/p_2_black.jpg' %>
            <div class="text">TOKKI-DESIGN</div>
            <div class="projocts_discription">
              <h3>Jisoo's Site</h3>
              <span>Tokyo Textile</span>
            </div>
          </div>
          <div class="work_projocts">
            <%= image_tag 'tkimg/p_3.jpg' %>
            <div class="text">TOKKI-DESIGN</div>
            <div class="projocts_discription">
              <h3>Jisoo's Site</h3>
              <span>Tokyo Textile</span>
            </div>
          </div>
        </div>
      </section>
    </div>
  <% end %>
